*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 1s;
	letter-spacing: 1.2px;
	line-height: 1.3
}

*:focus{
	outline: none;
}

:root{
	--primary-color: #EEE;
	--text-color-light: #2564FF;
	--text-color-dark: #333;
	--fsize-sm: .75rem;
	--fsize-med: 1rem;
	--fsize-l1: 1.25rem;
	--fsize-l2: 1.5rem;
	--text-thin: 300;
}

.mobile{
	display: none;
}

html{
	font-family: "Ubuntu", sans-serif;
	background: var(--primary-color);
	color: var(--text-color-dark);
	scroll-behavior: smooth;
	height: auto;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: .5rem;
	height: auto;
	background: var(--primary-color);
	box-shadow: 0 0 2px var(--text-color-dark);
	z-index: 10
}

a{
	text-decoration: none;
	color: var(--text-color-light);
}

button{
background: transparent;
border: 0;
cursor: pointer;
}

header img{
	display: block;
}

nav ul{
display: flex;
justify-content: space-around;
align-items: center;
}

#socials_nav a{
font-size: 2rem;
width: 3rem;
height: 3rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

#socials_nav a:hover, #socials_nav a:focus{
	transform: rotateZ(360deg) scale(1.2);
}

#page_links{
	width: 50%;
	height: 3rem;
}

#page_links ul{
	height: 100%;
}

#page_links li{
	height: 100%;
}

#page_links ul li a {
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .5rem;
}

a:hover, a:focus {
	background: var(--primary-color);
	color: var(--text-color-light);
	border-bottom: 2px solid var(--text-color-light)
}

#image{
	display: flex;
	justify-content: center
}

#image img{
	border-radius: 50%;
	/* border-bottom: 1px solid var(--text-color-light); */
	background-image: url("../assets/images/me_bg.png");
}

#meet_me{
	padding: 1rem;
	height: auto;
}

#text_img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

#meet_me div:not(div#text_img){
	width: 95%;
	padding: .75rem;
	margin: auto;
}

#cv_tools, #dynamic_text_wrap{
	font-size: var(--fsize-l2);
	font-weight: var(--text-thin);
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	text-transform: uppercase;
}

#dynamic_text {
	background-color: var(--text-color-dark);
	color: var(--primary-color);
	padding: .75rem;
	border-radius: .5rem 0;
	box-shadow: 1px 1px 4px 1px #333;
}

#pic_bio_cv{
	display: flex;
	flex-direction: column;
}

#mycv{
	display: flex;
	justify-content: center;
}

#mycv a{
	display: inline-block;
	padding: 1rem;
	background: var(--text-color-light);
	color: var(--primary-color);
	text-align: center;
	text-transform: uppercase;
	border-radius: 1.75rem;
}

#mycv a:hover, #mycv a:focus {
	background: var(--primary-color);
	color: var(--text-color-light);
	border: 1.75px solid var(--text-color-light);
}

#tool_list{	
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: .5rem
}

#tool_list li{
	font-size: 3rem;
	padding: .5rem;
}

#skills_projects{
	display: flex;
	padding: 1rem;
	justify-content: center;
}

#skills_projects div{
	width: 45%;
	padding: .5rem;
}

#skills h3, #projects h3{
	text-align: center;
	text-transform: uppercase;
	margin: .125rem 0;
}

#skills p{
	margin: .5rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	width: 80%;
}

#skills p *{
	display: block;
}

#skills p progress{
	block-size: 2.5rem;
	cursor: pointer;
}



#projects{
	position: relative;
}

#projects #p_names{
	width: 100%;
	height: auto;
	
}

#projects button{
	text-transform: uppercase;
	cursor: pointer;
}

#projects #toggleBtns button{
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	color: var(--text-color-light);
	font-weight: bolder;
	z-index: 25;
	font-size: 2rem;
}

#projects #toggleBtns{
	display: flex;
	justify-content: space-between;
	margin: auto;
	position: absolute;
	bottom: 10rem;
	left: 0;
	right: 0;
	width: 100%;
}

#p_names{
position: relative;
}

#projects img{
width: 100%;

}

#projects img:hover{
filter: blur(1px);
box-shadow: 0 0 2px 2px #7777;
}

#projects a:hover, #projects a:focus{
	border: 0;
}

#toggleBtns button:hover{
	transform: scale(1.5);
}

#to_top{
	background: #3337;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	z-index: 100;
	box-shadow: 0 0 2px var(--text-color-dark);
	transform: scale(0);
	transition: .5s
}

#to_top button{
	color: var(--primary-color);
	font-size: var(--fsize-l2);
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

footer{
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--text-color-light);
}

footer small{
	color: var(--primary-color);
	font-size: var(--fsize-l1);
}

footer ul{
	display: flex;
	width: 10rem;
	justify-content: space-between;
	padding: .5rem;
}

footer ul li a{
	color: var(--primary-color);
	padding: .25rem;
	border-radius: 50%;
	font-size: var(--fsize-l1);
}

footer ul li a:hover, footer ul li a:focus{
	border: 1px solid var(--primary-color);
}

@media only screen and (max-width: 742px) {
	.mobile{
		display: block;
	}
	
	main{
		padding: 0;
	}
	
	header{
		display: block;
		padding: .75rem 0;
		height: auto;
		position: relative;
	}
	
	header img{
		margin: auto;
	}
	
	.menu{
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	
	.menu button{
		font-size: 2rem;
		color: var(--text-color-light);
	}
	
	header nav{
		background: var(--text-color-light);
		max-height: 0;
		overflow-y: hidden;
	}
	
	nav ul{
		display: block;
	}
	
	#page_links{
		height: auto;
		width: 100%;
	}
	
	#page_links ul{
		width: 100%;
		height: auto;
	}
	
	#page_links li{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center
	}
	
	#page_links ul li a{
		display: block;
		height: 100%;
		width: 100%;
		padding: 1rem;
		color: var(--primary-color);
	}
	
	#socials_nav{
		background: var(--primary-color);
	} 
	
	#socials_nav ul{
		display: flex;
	}
	
	#page_links a:hover, #page_links a:focus {
		background: var(--primary-color);
		color: var(--text-color-light);
		transform: none
	}
	
	#text_img{
		display: block;
	}
	
	#meet_me{
		padding: .25rem;
	}
	
	#pic_bio_cv{
		font-size: var(--fsize-l1);
		padding: 0;
	}
	
	#mycv {
		display: flex;
		justify-content: center;
	}
	
	#mycv a {
		display: inline-block;
		padding: 1rem;
		background: var(--text-color-light);
		color: var(--primary-color);
		text-align: center;
		text-transform: uppercase;
		border-radius: 1.75rem;
		width: 100%;
	}

	#mycv a:hover, #mycv a:focus {
		background: var(--primary-color);
		color: var(--text-color-light);
		border: 1.75px solid var(--text-color-light);
	}
	
	#skills_projects{
		display: block;
		padding: .5rem;
	}

	#skills_projects div{
		width: auto;
		padding: .5rem;
	}

	#projects #toggleBtns{
		display: flex;
		justify-content: space-between;
		margin: auto;
		position: absolute;
		bottom: -2rem;
		left: 0;
		right: 0;
		width: 50%;
	}
	
	.open{
		max-height: 100rem;
	}
	
	footer{
		position: static;
	}
}